
<ion-view view-title="Dashboard">

<link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <ion-content class="wrapper" scroll="false" >
<div class="wrapper">
  <form ng-submit="otpAuth()">
 <!--  <div class="header-nav">
    <img class="nav-icon-left" src="img/register/logo.png">
    <p class="screen-name">Dashboard</p>
  </div>
 -->

 
  <div class="content">
    <div class="dash-row-1">
      <a href="#/app/timeline"><img class="dash-menu-icon" src="img/dashboard/dashboard-01-timeline.png"></a>
      <a href="#/app/message"><img class="dash-menu-icon" src="img/dashboard/dashboard-03-message.png"></a>
      <img class="dash-menu-icon" src="img/dashboard/dashboard-07-expo.png">
      <img class="dash-menu-icon" src="img/dashboard/dashboard-08-help.png">
    </div>
    <div class="dash-row-2">
      <a href="#/app/contacts"><img class="dash-menu-icon" src="img/dashboard/dashboard-02-contact.png"></a>
      <a href="#/app/session"><img class="dash-menu-icon" src="img/dashboard/dashboard-04-session.png"></a>
      <a href="#/app/aroundyou"><img class="dash-menu-icon" src="img/dashboard/dashboard-06-aroundyou.png"></a>
      
    </div>
  </div>
 </form>
  </div>
 
  </ion-content>
</ion-view>