<link rel="stylesheet" type="text/css" href="css/style.css">
<ion-modal-view class="body">
  <ion-header-bar>
    <img src="../img/register/logo.png"/> 
    <h1 class="title">Registration</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
    <!--   <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Mobile Number</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div> -->

      <div class="wrapper">
  
  <div class="header-nav">
    <img class="nav-icon-left" src="images/dashboard-menu.png">
    <p class="screen-name">Dashboard</p>
  </div>

  <div class="content">
    <div class="dash-row-1">
      <img class="dash-menu-icon" src="images/dashboard-01-timeline.png">
      <img class="dash-menu-icon" src="images/dashboard-03-message.png">
      <img class="dash-menu-icon" src="images/dashboard-05-search.png">
      <img class="dash-menu-icon" src="images/dashboard-07-expo.png">
      <img class="dash-menu-icon" src="images/dashboard-08-help.png">
    </div>
    <div class="dash-row-2">
      <img class="dash-menu-icon" src="images/dashboard-02-contact.png">
      <img class="dash-menu-icon" src="images/dashboard-04-session.png">
      <img class="dash-menu-icon" src="images/dashboard-06-aroundyou.png">
      <img class="dash-menu-icon" src="images/dashboard-09-settings.png">
    </div>
  </div>

  </div>

    </form>
  </ion-content>
</ion-modal-view> 
