<ion-view view-title="Session">

<link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <ion-tabs class="tabs-stable tabs-icon-top " >
     <ion-tab title="Key Note" icon="ion-ribbon-a" ui-sref="tab.keynote" >
                <ion-nav-view name="keynote">
                         <ion-content class="padding">
                              <h1>Dash</h1>
                         </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Day" icon="ion-android-calendar" ui-sref="tab.day">
                <ion-nav-view name="day">
                         <ion-content class="padding">
                              <h1>Dash 1</h1>
                         </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Practice" icon="ion-ios-analytics" ui-sref="tab.practice">
                <ion-nav-view name="practice">
           <ion-content class="padding">
                              <h1>Dash 2</h1>
                         </ion-content>
           </ion-nav-view>
        </ion-tab>
 </ion-tabs>     