<ion-view view-title="Session">

<link rel="stylesheet" type="text/css" href="css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <ion-tabs class="tabs-stable tabs-icon-top " >
     <ion-tab title="Sessions" icon="ion-mic-c" ui-sref="tab.keynote" >
                <ion-nav-view name="keynote">
                         <ion-content class="padding">
                              
         <div class="row"> 
            <div class="col card">
                  <div class="item item-text-wrap">
                    <img class="full-image" src="http://tutorialsplane.com/runtest/ionic/img/cover.jpg">
                    Simple Card Example 1.....
                  </div>
              <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                      <i class="icon ion-thumbsup"></i>
                    </a>
                     <a class="tab-item" href="#">
                      <i class="icon ion-share"></i>
                      </a>
                  </div>
            </div>
           <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
                <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
        </div>
        <div class="row" style="padding-top:-10px"> 
            <div class="col card">
                  <div class="item item-text-wrap">
                    <img class="full-image" src="http://tutorialsplane.com/runtest/ionic/img/cover.jpg">
                    Simple Card Example 1.....
                  </div>
              <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                      <i class="icon ion-thumbsup"></i>
                    </a>
                     <a class="tab-item" href="#">
                      <i class="icon ion-share"></i>
                      </a>
                  </div>
            </div>
           <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
                <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
        </div>
<div class="row" style="padding-top:-10px"> 
            <div class="col card">
                  <div class="item item-text-wrap">
                    <img class="full-image" src="http://tutorialsplane.com/runtest/ionic/img/cover.jpg">
                    Simple Card Example 1.....
                  </div>
              <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                      <i class="icon ion-thumbsup"></i>
                    </a>
                     <a class="tab-item" href="#">
                      <i class="icon ion-share"></i>
                      </a>
                  </div>
            </div>
           <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
                <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
        </div>
        <div class="row" style="padding-top:-10px"> 
            <div class="col card">
                  <div class="item item-text-wrap">
                    <img class="full-image" src="http://tutorialsplane.com/runtest/ionic/img/cover.jpg">
                    Simple Card Example 1.....
                  </div>
              <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                      <i class="icon ion-thumbsup"></i>
                    </a>
                     <a class="tab-item" href="#">
                      <i class="icon ion-share"></i>
                      </a>
                  </div>
            </div>
           <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
                <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
        </div>
        <div class="row" style="padding-top:-10px"> 
            <div class="col card">
                  <div class="item item-text-wrap">
                    <img class="full-image" src="http://tutorialsplane.com/runtest/ionic/img/cover.jpg">
                    Simple Card Example 1.....
                  </div>
              <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                      <i class="icon ion-thumbsup"></i>
                    </a>
                     <a class="tab-item" href="#">
                      <i class="icon ion-share"></i>
                      </a>
                  </div>
            </div>
           <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
                <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
        </div>
        <div class="row" style="padding-top:-10px"> 
            <div class="col card">
                  <div class="item item-text-wrap">
                    <img class="full-image" src="http://tutorialsplane.com/runtest/ionic/img/cover.jpg">
                    Simple Card Example 1.....
                  </div>
              <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" href="#">
                      <i class="icon ion-thumbsup"></i>
                    </a>
                     <a class="tab-item" href="#">
                      <i class="icon ion-share"></i>
                      </a>
                  </div>
            </div>
           <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
                <div class="col card">
                  <div class="item item-text-wrap">
                    Simple Card Example 1.....
                  </div>
                </div>
        </div>



               
               
 
                         </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Day" icon="ion-android-calendar" ui-sref="tab.day">
                <ion-nav-view name="day">
                         <ion-content class="padding">
                              <h1>Dash 1</h1>
                         </ion-content>
                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Practice" icon="ion-ios-analytics" ui-sref="tab.practice">
                <ion-nav-view name="practice">
           <ion-content class="padding">
                              <h1>Dash 2</h1>
                         </ion-content>
           </ion-nav-view>
        </ion-tab>
 </ion-tabs>     